/* App Layout */
body {
font-family: var(--font-main);
background: var(--color-sand-beige);
color: var(--color-deep-navy);
}


main {
overflow-x: hidden;
}


a {
text-decoration: none;
color: var(--color-deep-navy);
transition: 0.25s ease;
}


a:hover {
color: var(--color-sunrise-orange);
}